.container{
    border: solid;
    padding: 30px;
}

.header{
   padding: 30px;
   display: flex;
   flex-wrap: wrap;
}
.hr{
    padding: 30px;
}
.Luffy{
    display: flex;
    height: auto;
    max-width: 15%;
    flex-direction: flex-start;
}
.desc{
    padding: 10px;
    margin-right:auto;
}

.listDiv{
    display:flex;
    justify-content: flex-end;
    margin-left: auto;
   
}
.detailList{
    list-style-type: none;
    padding:0;
}
.body{
    padding: 30px;
    width: 60%;
}
.body2{

    margin-right:auto;
    display: flex;
}
.employment{
    font-size: 24px;
    justify-content: flex-start;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
}
.workYrs{
    display: flex;
    justify-content: space-between;
}
.education{
    display: flex;
    padding: 30px;
    font-weight: bold;
}
.meters{
    position:absolute;
    top: 50%;
    right: 65px;
    padding:100px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
.meters2{
position:absolute;
    top: 80%;
    right: 65px;
    padding:100px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
.meters3{
    position:absolute;
    top:110%;
    right: 65px;
    padding:100px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}